
<h1><%= @event.name %></h1>

<p>
<%= @event.description %>
</p>

<p>
<strong>Location:</strong>
<%= @event.location %>
</p>

<p>
<strong>Dates:</strong>
<%= @event.dates %>
</p>

<strong>Host:</strong>
<%= @event.host.email %>
</p>

<p>
<strong>Attendees:</strong>
<ul>
  <% @event.users.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>
</p>

<p>
<%= link_to "Attend This Event", attend_event_path(@event), method: :post %>
</p>

<% if signed_in? && @event.user_id == current_user.id %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Cancel', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', events_path %>
