<p id="notice"><%= notice %></p>

<h1><%= @event.name %></h1>

<p>
<%= @event.description %>
</p>

<p>
<strong>Location:</strong>
<%= @event.location %>
</p>

<p>
<strong>Dates:</strong>
<%= @event.dates %>
</p>

<strong>Host:</strong>
<%= @event.host.email %>
</p>

<p>
<strong>Attendees:</strong>
<ul>
  <% @event.users.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>
</p>

<p>
<%= link_to "Attend This Event", attend_event_path(@event), method: :post %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', events_path %>
