<!DOCTYPE html>
<html>
<head>
  <title>Eventlite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper-for-content-outside-of-footer">

  <%= render 'refills/navigation' %>

  <% if notice %>
    <%= render 'refills/flashes' %>
  <% end %>

  <div class="container">
    <aside class="sidebar">
      <%= render 'events/sidebar' %>
    </aside>
    <section class="content">
      <%= yield %>
    </section>
  </div>

  <%= render 'refills/footer_2' %>

</body>
</html>
