<!DOCTYPE html>
<html>
<head>
  <title>Eventlite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'refills/navigation' %>

  <% if notice %>
    <%= render 'refills/flashes' %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
